.banner {
  margin-top: 20px;
  background-color: #343a40;
  color: #ffffff;
  opacity: 85%;
  position: relative;
  top: 15px;
}

.btn {
  margin: 10px;
  color: #ffffff;
}

.phone {
  margin-top: 20px;
}

.crd {
  margin-top: 20px;
  background-color: #343a40;
  color: #ffffff;
  min-height: 200px;
  max-height: 200px;
  opacity: 85%;
  position: relative;
}

.icn {
  margin-top: 30px;
}

.title {
  color: #ffffff;
  background-color: #343a40;
  border-radius: 10px;
  padding: 10px;
  opacity: 85%;
  margin: 15px;
}

/* .home-wrapper {
  margin-top: 56px;
} */
