.services-title {
  color: #ffffff;
  background-color: #343a40;
  border-radius: 10px;
  padding: 10px;
  opacity: 85%;
  margin: 15px;
}

.services-list-one {
  margin-top: 10px;
  background-color: #343a40;
  background-image: url(../../assets/images/IMG_7019.jpg);
  color: #343a40;

  font-size: 18pt;
  border-radius: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
}
.services-list-two {
  margin-top: 10px;
  background-color: #343a40;
  background-image: url(../../assets/images/IMG_7016.jpg);
  color: #343a40;

  font-size: 18pt;
  border-radius: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
}
.list-item {
  margin: 20px;
  color: #e88125;
  font-size: 18pt;
  text-shadow: 2px 2px black;

  padding: 10px 0px;
}
.customer {
  margin-top: 50%;
}
.desk {
  margin-top: 50%;
}
